body 
{background-color: #FFF9F7;}
h1 {color:#391A0A;}
h3 {color: #D6759B}

a {
    background-color: #CBC1B7;
    padding: 10px;
    }
 a {   
    border-style: dashed;
    border-color: black;
   
}
