@font-face{
    font-family: myFont;
    src:url(Montserrat.ttf);
    font-family: head;
    src:url(Lovelo.otf);
    font-family: logo;
    src:url(HonthanySignature.ttf);
}

img {
    max-width: 100%;
    display: block;
}


.PrintName{
    display: none;
}

.name-title{
    color: #ffc3d4;
    text-align: center;
    font-family: head;
    font-size: 48px;
    margin-top: 1.5rem;
    margin-bottom: -4rem;
    align-items: center;
    justify-content: center;
}

.h3{
    font-family: myFont;
    font-size: 18px;
    text-align: center;
    color: #686868;
    margin-bottom: 1em;
}

.h4{
font-family: myFont;
font-size: 16px;
text-align: center;
color: #c1c1bf;
margin-top: 1em;
}

.AboutMain {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.headshot{
    width: 100%;
    text-align: center;  
    grid-column-start: 4;
    grid-row-start: 2
}

.resume_img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.Random-Img1{
    width: 100%  
}

.random-Img2{
 width: 100%;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-5 {
    grid-column: span 5;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.quote {
    display: grid;
    justify-content: center;
}

.footer{
    width: 100vh;
    justify-content: center;
}



/*
body{
    padding: 10px;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 5em 5em auto 5em 2em;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas:"header header header" "name name name" "main main main" "quote quote quote" "footer footer footer";
}

header{
    grid-area: header;
}

.name{
    grid-area: name;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-title {
    margin-top: -10px;
    color: #ffc3d4;
    text-align: center;
    font-family: head;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main1{
    grid-area: main;
    display: flex;
    height: auto;
    display: grid;
    grid-template-rows: 350px 3fr;
    grid-template-columns: 5fr 5fr 2fr 5fr 5fr;
    grid-template-areas: "intro intro headshot education education" "resume resume resume resume resume"; 
    grid-gap: 1em;
}

.list-item{
    font-family: myFont;
}

.main2{
    grid-area: main;
    display: flex;
    height: auto;
    display: grid;
    padding: 1em;
    line-height: 1.5;
    grid-template-rows: auto auto;
    grid-template-columns: 33% 33% 33%;
}

.intro{
    font-family: myFont;
    font-size: 14px;
    grid-area: intro;
    text-align: justify;
    line-height: 1.5;
    height: 350px;
}

.home{
    font-family: myFont;
    font-size: 14px;
    grid-area: intro;
    text-align: center;
    line-height: 1.5;
    height: 350px;
    padding-left: 1em;
}

.family{
    grid-area: education;
    height: 350px;
    text-align: center;
}

.education ul{
    list-style-type: none;
    padding: 1em;
    line-height: 2;
}

.education{
    grid-area: education;
    height: 350px;
    font-family: myFont;
    font-size: 14px;
    text-align: center;
}


resume{
    grid-area: resume;
    display: grid;
    margin-top: 1em;
    grid-template-rows: 350px;
    grid-template-columns: 5fr 5fr 3fr 5fr 5fr ;
    grid-template-areas: "resume-dl resume-video . random-Img1 random-Img2";
}


.resume-video{
    display: none;
    grid-area: resume-video;
}

.Random-Img1{
    display: none;
    grid-area: random-Img1;   
}

.random-Img2{
    display: none;
    grid-area: random-Img2;
}

.paragraph{
    padding: 0.5em;
}


.quote{
    grid-area: quote;
    font-family: myFont;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    color: #686868;
    grid-area: footer;
    font-family: myFont;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/FooterBackground.png");
    background-size: cover;
}*/

/*
@media all and (max-width: 800px) {
    p{
        font-size: 1.5rem;
        line-height: 1.5;
    }
  
    }
@media all and (max-width: 500px) {
    p{
        font-size: 1.25rem;
    }
}*/

@media print{

    /*Hide Items*/

    .logo {
        display: none !important;
    }

    body .header nav {
        display: none !important;
    }

    .nav-icon {
        display: none !important;
    }

    .header {
        display: none !important;
    }

    .headshot {
        display: none;
    }

    img {
        display: none;
    }

    .resume-video {
        display: none;
    }

    /*Things to Show/Print*/

    .PrintName{
        display: flex;
        font-family: logo;
        font-size: 10pt;
        color: black;
        text-align: center;
    }

    body {
        font-family: Arial, Helvetica, sans-serif !important;
        font-size: 10pt !important;
        color: black !important;
    }

    .name-title {
        color: black;
        margin-top: -100px;
    }


    .AboutMain {
        display: grid; 
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 20% 20% 20% 20%;
        }


    @page {
        margin: 2.54cm;
    }
} 





