@font-face{
    font-family: myFont;
    src:url(Montserrat.ttf);
    font-family: head;
    src:url(Lovelo.otf);
    font-family: logo;
    src:url(HonthanySignature.ttf);
}
body{
    margin: 0;
    font-family: myFont;
    font-size: 20px;
    background-color: white;
}


h1 {
    display: none;
}

/*Navigation Stuff*/
a{
    color: #fff;
}

.header {
    font-family: myFont;
    height: 62px;
    margin-top: 10px;
    background-color: #c1c1bf;
    box-shadow: 1px 1px 4px 0 #686868;
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-bottom: 10px;
}

.header ul {
    font-family: myFont;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #c1c1bf;
    
}

.header ul a{
    font-family: myFont;
    color: white;
    padding: 12px;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;

}

.header ul a:hover{
    color: #ffc3d4;
    text-decoration: underline;
    transition: .9s;
}

.header nav .menu li .active{
    font-family: myFont;
    color:#ffc3d4;
    text-decoration: underline;
    }

.header .logo {
    float: left;
    display: block;
    width: 250px;
    padding: 10px 20px;
    margin-top: -17px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon{
    position: relative;
    padding: 20px 20px;
    color: #fff;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    position: relative;
}

.menu-btn {
    display: none;
}

.header .menu-btn:checked ~ nav .menu {
    max-height: 240px;
    
}

header nav ul li .hide{
    position: absolute;
    width: 100%;
    
}

header nav ul li ul .hide a{
    color:#fff;
    display: block;
    text-align: center;
    display: none;
}

.hide{
    display: none;
}


.hide {
    display: none;
}

.dropdown {
    position: absolute;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 #686868;
}

nav .menu .projects ul {
    display: none;
}

ul .dropdown li:nth-child(2) {
    background-color: #D3D3D3;
}

nav .menu .projects:hover ul {
    display: block;
   
}

nav .menu .projects ul:hover li{
    display: block;
    
}

/*Desktop/IPAD Display*/
@media (min-width: 48em){
    .header li{
        float: left;
   }

   .header .nav ul li{
    background: transparent;
   }

   .header ul{
    background-color: #c1c1bf;
    opacity: 1;
   }

   .header li a{
    padding: 20px 30px;
    color:#fff;
    font-size: 26px;
   }

   .header .menu {
    background-color: transparent;
    clear: none;
    float: right;
    max-height: none;
   }

   .header .menu-icon {
    display: none;
   }
}

/*Printing*/
